body {
    background: #f4f4f4;
}

header {
    background: #003366;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}


.banner img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

section {
    padding: 60px;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.leaders {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    margin-bottom: 30px;
    background: white;
    width: 300px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgb(188, 191, 19);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3 {
    margin: 15px 0;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    background: #003366;
    color: white;
    padding: 10px 20px;
}

.party-box {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    background: rgb(162, 193, 40);
    padding: 30px;
}

.party-box h3 {
    margin-bottom: 20px;
}

.party-box li {
    margin: 10px 0;
}

.gallery {
    display: flex;
    gap: 20px;
}
figure{
    display: flex;
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

article {
    
    background: yellow;
    padding: 60px;

}

.aside {

    background: #fff8dc;
    padding: 20px;
    border: 5px solid #ffd700;
    border-radius: 8px;
    margin-bottom: 20px;
    
}

.aside h2{
margin-bottom: 15px;
}

.aside ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.aside li {
    margin-bottom: 10px;
}


.footer {
    background: #003366;
    color: white;
    text-align: center;
    padding: 30px;
}

.footer a {
    color: yellow;
    text-decoration: none;
}